In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import *

In [3]:
spark = SparkSession.builder.appName("EcommerceAnalysis").getOrCreate()

# Create Customers DataFrame
customers_data = [
    (1, "Alice", "alice@example.com", "2022-01-15"),
    (2, "Bob", "bob@example.com", "2022-03-10"),
    (3, "Charlie", "charlie@example.com", "2022-05-20"),
    (4, "David", "david@example.com", "2022-07-05")
]
customers_df = spark.createDataFrame(customers_data, ["customer_id", "name", "email", "join_date"])

# Create Orders DataFrame
orders_data = [
    (101, 1, "2023-01-10", 150.50),
    (102, 2, "2023-01-12", 200.00),
    (103, 1, "2023-02-05", 75.25),
    (104, 3, "2023-02-18", 300.75),
    (105, 4, "2023-03-01", 50.00),
    (106, 2, "2023-03-15", 120.00)
]
orders_df = spark.createDataFrame(orders_data, ["order_id", "customer_id", "order_date", "total_amount"])

# Create Products DataFrame
products_data = [
    (1001, "Laptop", 999.99, "Electronics"),
    (1002, "Smartphone", 599.99, "Electronics"),
    (1003, "Headphones", 99.99, "Accessories"),
    (1004, "Keyboard", 49.99, "Accessories")
]
products_df = spark.createDataFrame(products_data, ["product_id", "name", "price", "category"])

# Show schema for verification
print("Customers Schema:")
customers_df.printSchema()
print("\nOrders Schema:")
orders_df.printSchema()
print("\nProducts Schema:")
products_df.printSchema()

25/03/29 20:19:14 WARN Utils: Your hostname, luzhiyins-MBP-14-2022.local resolves to a loopback address: 127.0.0.1; using 192.168.0.229 instead (on interface en0)
25/03/29 20:19:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/29 20:19:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Customers Schema:
root
 |-- customer_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- join_date: string (nullable = true)


Orders Schema:
root
 |-- order_id: long (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- total_amount: double (nullable = true)


Products Schema:
root
 |-- product_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- price: double (nullable = true)
 |-- category: string (nullable = true)

In [4]:
# 1. Filtering: Find all customers who joined after '2022-03-01'
filtered_customers = customers_df.filter(col("join_date") > "2022-03-01")
filtered_customers.show()

# 2. Sorting: Sort orders by total_amount in descending order
sorted_orders = orders_df.orderBy(col("total_amount").desc())
sorted_orders.show()

# 3. Aggregation: Calculate the total revenue generated per customer (include customer name)
customer_revenue = orders_df.join(customers_df, "customer_id") \
    .groupBy("customer_id", "name") \
    .agg(sum("total_amount").alias("total_revenue"))
customer_revenue.show()

# 4. Joining: List all orders with customer details (name, email) and order details (order_date, total_amount)
order_details = orders_df.join(customers_df, "customer_id") \
    .select("order_id", "name", "email", "order_date", "total_amount")
order_details.show()

# 5. Advanced Aggregation: Find the average order amount for each customer, but only for those with at least 2 orders
customer_avg = orders_df.groupBy("customer_id") \
    .agg(
        avg("total_amount").alias("avg_order_amount"),
        count("order_id").alias("order_count")
    ) \
    .filter(col("order_count") >= 2) \
    .join(customers_df, "customer_id") \
    .select("customer_id", "name", "avg_order_amount", "order_count")
customer_avg.show()

+-----------+-------+-------------------+----------+
|customer_id|   name|              email| join_date|
+-----------+-------+-------------------+----------+
|          2|    Bob|    bob@example.com|2022-03-10|
|          3|Charlie|charlie@example.com|2022-05-20|
|          4|  David|  david@example.com|2022-07-05|
+-----------+-------+-------------------+----------+

+--------+-----------+----------+------------+
|order_id|customer_id|order_date|total_amount|
+--------+-----------+----------+------------+
|     104|          3|2023-02-18|      300.75|
|     102|          2|2023-01-12|       200.0|
|     101|          1|2023-01-10|       150.5|
|     106|          2|2023-03-15|       120.0|
|     103|          1|2023-02-05|       75.25|
|     105|          4|2023-03-01|        50.0|
+--------+-----------+----------+------------+

+-----------+-------+-------------+
|customer_id|   name|total_revenue|
+-----------+-------+-------------+
|          1|  Alice|       225.75|
|          2|    Bob|        320.0|
|          3|Charlie|       300.75|
|          4|  David|         50.0|
+-----------+-------+-------------+

+--------+-------+-------------------+----------+------------+
|order_id|   name|              email|order_date|total_amount|
+--------+-------+-------------------+----------+------------+
|     101|  Alice|  alice@example.com|2023-01-10|       150.5|
|     103|  Alice|  alice@example.com|2023-02-05|       75.25|
|     102|    Bob|    bob@example.com|2023-01-12|       200.0|
|     106|    Bob|    bob@example.com|2023-03-15|       120.0|
|     104|Charlie|charlie@example.com|2023-02-18|      300.75|
|     105|  David|  david@example.com|2023-03-01|        50.0|
+--------+-------+-------------------+----------+------------+

+-----------+-----+----------------+-----------+
|customer_id| name|avg_order_amount|order_count|
+-----------+-----+----------------+-----------+
|          1|Alice|         112.875|          2|
|          2|  Bob|           160.0|          2|
+-----------+-----+----------------+-----------+

In [5]:
# Problem 6: Distinct Counts - Find how many unique months customers placed orders in
# Expected Output: Single number representing count of distinct months (YYYY-MM format)
# Hint: First extract month from order_date, then count distinct values

# Your PySpark solution here
# Start with orders_df, transform order_date to 'yyyy-MM' format, then count distinct months
orders_df.select(
        date_format(col('order_date'), 'yyyy-MM').alias('year-month')
    ).agg(
        countDistinct(col('year-month')).alias('month_cnt')
    ).show()

+---------+
|month_cnt|
+---------+
|        3|
+---------+

In [6]:
# Problem 7: Time Analysis - Find the month with the highest total revenue
# Expected Output: Single row with [month_year, total_revenue] for the top month
# Hint: Combine date_format, groupBy, sum, and orderBy

orders_df.select(
    date_format(col('order_date'), 'yyyy-MM').alias('year-month'),
    col('total_amount')
).groupBy(col('year-month')) \
.agg(
    sum(col('total_amount')).alias('total_revenue')
).orderBy(col('total_revenue').desc()) \
.limit(1) \
.show()

+----------+-------------+
|year-month|total_revenue|
+----------+-------------+
|   2023-02|        376.0|
+----------+-------------+

In [7]:
# Problem 8: Customer Order Frequency - Find customers who placed orders in at least 2 distinct months
# Expected Output: DataFrame with [customer_id, name, distinct_month_count]
# Should include Alice (Jan+Feb) and Bob (Jan+Mar) from sample data

orders_df.select(
    date_format('order_date', 'yyyy-MM').alias('year-month'),
    col('customer_id')
).join(customers_df, on='customer_id', how='inner') \
.groupBy(col('customer_id'), col('name')) \
.agg(
    countDistinct(col('year-month')).alias('distinct_month_count')
) \
.filter(col('distinct_month_count') >= 2) \
.show()

+-----------+-----+--------------------+
|customer_id| name|distinct_month_count|
+-----------+-----+--------------------+
|          1|Alice|                   2|
|          2|  Bob|                   2|
+-----------+-----+--------------------+

In [8]:
# Problem 9: Customer Spending Comparison - Find customers who spent more than the average customer spend
# Expected Output: DataFrame with [customer_id, name, total_spend] where total_spend > overall_avg
# Note: overall_avg = average of all customers' total spending

customer_spend = orders_df.groupBy('customer_id') \
    .agg(sum(col('total_amount')).alias('total_spend'))

avg_customer_spend = customer_spend.agg(avg(col('total_spend')).alias('avg_customer_spend'))

above_avg_customers = customer_spend.join(customers_df, on='customer_id', how='inner') \
    .join(avg_customer_spend, how='cross') \
    .filter(col('total_spend') > col('avg_customer_spend')) \
    .select(col('customer_id'), col('name'), col('total_spend'))

above_avg_customers.show()

+-----------+-------+-----------+
|customer_id|   name|total_spend|
+-----------+-------+-----------+
|          1|  Alice|     225.75|
|          2|    Bob|      320.0|
|          3|Charlie|     300.75|
+-----------+-------+-----------+

In [9]:
# Problem 10: Window Functions - Find each customer's most expensive order
# Expected Output: DataFrame with [customer_id, name, order_id, order_date, max_order_amount]
# Should show one row per customer with their highest-value order

ranked_orders = orders_df.withColumn('rank', rank().over(Window.partitionBy('customer_id').orderBy(col('total_amount').desc())))

top_orders = ranked_orders.join(customers_df, 'customer_id') \
    .filter(col('rank') == 1) \
    .select(
        col('customer_id'), 
        col('name'), 
        col('order_id'), 
        col('order_date'), 
        col('total_amount').alias('max_order_amount')
    )

top_orders.show()

+-----------+-------+--------+----------+----------------+
|customer_id|   name|order_id|order_date|max_order_amount|
+-----------+-------+--------+----------+----------------+
|          1|  Alice|     101|2023-01-10|           150.5|
|          2|    Bob|     102|2023-01-12|           200.0|
|          3|Charlie|     104|2023-02-18|          300.75|
|          4|  David|     105|2023-03-01|            50.0|
+-----------+-------+--------+----------+----------------+

In [25]:
# Problem 11: Time Between Orders - Calculate the days between each customer's first and most recent order
# Expected Output: DataFrame with [customer_id, name, days_between_orders]
# Should show the time span in days for each customer with >1 order

time_between_orders = (
    orders_df
    .groupBy('customer_id')
    .agg(
        min('order_date').alias('first_order_date'),
        max('order_date').alias('last_order_date'),
        count('order_id').alias('order_count')
    )
    .filter(col('order_count') > 1)
    .withColumn('days_between_orders', datediff(col('last_order_date'), col('first_order_date')))
    .join(customers_df, 'customer_id')
    .select('customer_id', 'name', 'days_between_orders')
)

time_between_orders.show()

+-----------+-----+-------------------+
|customer_id| name|days_between_orders|
+-----------+-----+-------------------+
|          1|Alice|                 26|
|          2|  Bob|                 62|
+-----------+-----+-------------------+

In [43]:
# Problem 12: Order Frequency - Calculate the average time between orders (in days) for each customer
# Expected Output: DataFrame with [customer_id, name, avg_days_between_orders]
# Should show the mean time between consecutive orders for customers with ≥2 orders

avg_time_between_orders = (
    orders_df
    .withColumn('prev_order_date', lag('order_date').over(Window.partitionBy('customer_id').orderBy('order_date')))
    .withColumn('days_between', datediff(col('order_date'), col('prev_order_date')))
    .groupBy('customer_id')
    .agg(
        avg('days_between').alias('avg_days_between_orders'),
        count('order_id').alias('order_count')
    )
    .filter(
        (col('order_count') >= 2) &
        (col('avg_days_between_orders').isNotNull())
    )
    .join(customers_df, 'customer_id')
    .select(
        'customer_id',
        'name',
        'avg_days_between_orders'
    )
)

avg_time_between_orders.show()

+-----------+-----+-----------------------+
|customer_id| name|avg_days_between_orders|
+-----------+-----+-----------------------+
|          1|Alice|                   26.0|
|          2|  Bob|                   62.0|
+-----------+-----+-----------------------+

In [44]:
# Problem 14 (Revised): Customer Order Patterns - Find customers who frequently order the same total amount
# Expected Output: DataFrame with [amount, customer_count, example_customer_id]
# Shows which order amounts appear most frequently across customers

customer_order_patterns = (
    orders_df
    .groupBy('total_amount')
    .agg(
        count('customer_id').alias('customer_count'),
        min('customer_id').alias('example_customer_id')
    )
)

customer_order_patterns.show()

+------------+--------------+-------------------+
|total_amount|customer_count|example_customer_id|
+------------+--------------+-------------------+
|       150.5|             1|                  1|
|       200.0|             1|                  2|
|       75.25|             1|                  1|
|      300.75|             1|                  3|
|        50.0|             1|                  4|
|       120.0|             1|                  2|
+------------+--------------+-------------------+

In [46]:
# Problem 15: Customer Segmentation - Classify customers into spending tiers
# Expected Output: DataFrame with [customer_id, name, total_spend, tier]
# Tiers: 
#   Platinum: > $500 total spend
#   Gold: $300-$500
#   Silver: $100-$300
#   Bronze: < $100

customer_segmentation = (
    orders_df
    .groupBy('customer_id')
    .agg(
        sum('total_amount').alias('total_spend')
    )
    .withColumn('tier', 
                when(col('total_spend') > 500, 'Platinum')
                .when((col('total_spend') > 300) & (col('total_spend') <= 500), 'Gold')
                .when((col('total_spend') > 100) & (col('total_spend') <= 300), 'Silver')
                .otherwise('Bronze')
    )
    .join(customers_df, 'customer_id')
    .select(
        'customer_id',
        'name',
        'total_spend',
        'tier'
    )
)

customer_segmentation.show()

+-----------+-------+-----------+------+
|customer_id|   name|total_spend|  tier|
+-----------+-------+-----------+------+
|          1|  Alice|     225.75|Silver|
|          2|    Bob|      320.0|  Gold|
|          3|Charlie|     300.75|  Gold|
|          4|  David|       50.0|Bronze|
+-----------+-------+-----------+------+

In [ ]:
# Problem 16: Time-Based Analysis - Calculate the 30-day rolling average order amount per customer
# Expected Output: DataFrame with [customer_id, order_date, total_amount, rolling_avg_30d]
# Should show the average order amount for each customer over their preceding 30-day window

+-----------+--------+----------+------------+-------+-------------------+----------+
|customer_id|order_id|order_date|total_amount|   name|              email| join_date|
+-----------+--------+----------+------------+-------+-------------------+----------+
|          1|     101|2023-01-10|       150.5|  Alice|  alice@example.com|2022-01-15|
|          1|     103|2023-02-05|       75.25|  Alice|  alice@example.com|2022-01-15|
|          2|     102|2023-01-12|       200.0|    Bob|    bob@example.com|2022-03-10|
|          2|     106|2023-03-15|       120.0|    Bob|    bob@example.com|2022-03-10|
|          3|     104|2023-02-18|      300.75|Charlie|charlie@example.com|2022-05-20|
|          4|     105|2023-03-01|        50.0|  David|  david@example.com|2022-07-05|
+-----------+--------+----------+------------+-------+-------------------+----------+